.container {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.container:hover,.active {
  background-color: var(--bgSofter);
}