.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form textarea,
.form select {
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
}

.form input,
.form select {
  width: 49.3%;
}

.form select option {
  background-color: var(--bgSofter);
  color: var(--text);
}

.form textarea {
  width: 100%;
}

.form button {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--text);
  border: none;
  cursor: pointer;
}

.customSwalContainer {
  background-color: #22222e;
  color: #ffffff;
  font-size: 1.2em;
  padding: 20px;
  border-radius: 5px;
}