:root {
  --bg: #1e1f26;
  --bgSoft: #22222e;
  --bgSofter:#3a3a4b;
  --text: #ffffff;
  --textSoft: #8d8d8d;
  --green: #4e7e45;
  --greenSoft: #68ca2f;
  --red: #7e4545;
  --redSoft: #ca2f2f;
  --yellow: #7e7145;
  --yellowSoft: #caa62f;
  --blue: #454e7e;
  --blueSoft: #1e41dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}