.user{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.userImage {
  object-fit:cover;
  border-radius: 50%;
}

.status {
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: var(--text);
}

.active {
  background-color: var(--green);
}

.inactive {
  background-color: var(--red);
}

.buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  width: 70px;
  cursor: pointer;
}

.view {
  background-color: var(--green);
}

.delete {
  background-color: var(--red);
}