.customSwalContainer {
  background-color: #22222e;
  color: #ffffff;
  font-size: 1.2em;
  padding: 20px;
  border-radius: 5px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  width: 70px;
  cursor: pointer;
}

.delete {
  background-color: var(--red);
}