.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.form h1,
.form h3 {
  color: var(--textSoft);
}

.form input {
  padding: 20px;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 5px;
  border: none;
  width: 350px;
}

.form button {
  background-color: var(--blue);
  border: none;
  color: var(--textSoft);
  padding: 20px;
  border-radius: 5px;
}